name: Rust

on:
  push:
    branches: [ "next" ]
  pull_request:
    branches: [ "next" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest
    env:
      FIREBASE_API_KEY: ${{ secrets.FIREBASE_API_KEY }}

    steps:
    - uses: actions/checkout@v3
    - name: Build
      run: cargo build --verbose
    - name: Run tests
      run: cargo test --all-features
    - name: Run clippy
      run: cargo clippy
